<%- include("../includes/header.ejs", {title:"Account - View All"}); %>
<h1>Accounts</h1>
<a href="/account/add">Add New Account</a>
<br />
<br />

<table border="1">
  <tr><th>Name</th><th>Actions</th></tr>
  <% for (var i=0; result.length > i; i++ ) { %>
    <tr>
      <td><a href="/account/?account_id=<%= result[i].account_id %>">
        <%= result[i].first_name %> <%= result[i].last_name %>
      </a></td>
      <td>
        <button onclick="event.preventDefault();window.location.href='/account/edit/?account_id=<%= result[i].account_id %>'">Edit</button>
        <form action="/account/delete/" style="display:inline;">
          <input type="hidden" name="account_id" id="account_id" value="<%= result[i].account_id %>" />
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
  <% } %>
</table>
<%- include("../includes/footer.ejs"); %>
