<%- include("../includes/header.ejs", {title:"Accounts - " + result[0].email}); %>

<h1>Accounts</h1>
<ul>
  <li>Email Address: <%= result[0].email %></li>
  <li>Name: <%= result[0].first_name + " " + result[0].last_name %></li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
