<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li><a href="/account/all">Accounts - View All</a></li>
      <li><a href="/address/all">Addresses - View All</a></li>
      <li><a href="/company/all">Companies - View All</a></li>
      <li><a href="/skill/all">Skills - View All</a></li>
    </ul>

<%- include("./includes/footer.ejs"); %>
