<%- include("../includes/header.ejs", {title: "Update " + address.street + " - " + address.zip_code}); %>

<h1>Update <%= address.street + " - " + address.zip_code %></h1>
<form action="/address/update" method="GET">
  <input type="hidden" id="address_id" name="address_id" value="<%= address.address_id %>" /><br />
  Street Address: <input id="street" name="street" type="text" value="<%= address.street %>" /><br />
  Zip Code: <input id="zip_code" name="zip_code" type="text" value="<%= address.zip_code %>" /><br />
  <input type="submit" />
</form>

<%- include("../includes/footer.ejs"); %>
